<!DOCTYPE html>
<html lang="en"

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include "dependancies/css.html" %}

</head>
<body>
  {% include 'components/header.html' %}
    {% block content%}
    {% endblock %}
    {% include "components/footer.html" %}
    {% include "dependancies/js.html" %}
</body>
</html>