<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'dashboard/dependancies/css.html' %}

</head>
<body>
  {% include 'dashboard/components/header.html' %}
  {% include 'dashboard/components/sidebar.html' %}
  {% block content %} {% endblock %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% include 'dashboard/components/footer.html' %}
  {% include 'dashboard/dependancies/js.html' %}
</body>
</html>